body {
    background-color: #a9bd7e;
}

button{
    width: 32%;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid black;
    outline: none;
    background-color:white;
    font-weight: 500;
    font-size:20px;
}

.first_line_btn{
    background-color: gray;
}
.equal_btn{
    background-color: blue;
    color: white;
}
.button_size{
    width: 100%;
    padding: 0px;
}
.h_25{
    height: 17%;
}
.h_75{
    height: 77%;
}
.cont {
    margin: 5% auto;
    background-color: whitesmoke;
    width: 35%;
    text-align: center;
    border-radius: 4px;
    max-width: 500px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
































































/* #screen_c {
    font-size: 26px;
    text-align: end;
    background-color: #f1faeb;
    border: 2px solid rgb(182, 182, 182);
    outline: none;
} */
